# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.thm.toc
*.ex.toc
*.algo.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.bcf
*.run.xml
*.lof
*.lot
*.toc
*.thm.toc
*.ex.toc
*.algo.toc
*.pdf
!_files/**/*

# BibTeX/BibLaTeX temporary files
*.bbl
*.bcf
*.blg
*.run.xml

# PDF output (commentare se vuoi versionare i PDF)
# *.pdf

# Editor files
.vscode/
*.swp
*.swo
*~
.DS_Store

# Linters and formatters
.chktexrc

# Build directory
build/
*.sh

# others
raw/**
raw/*
